<div>Keresés</div>
<div class="cont2">
        <form (ngSubmit)="onSubmit()">
        
          <div class="form-group">
            <label for="lastname">Film megjelenésének éve</label>
            <input type="number" class="form-control" id="megjelenes" required [(ngModel)]="megjelenes" name="megjelenes">
          </div>
      
          <div class="gomb">
            <button type="submit" class="btn btn-danger">Keresés</button>
          </div>
        </form>
      
      <ul>
        <li *ngFor="let filmek of filmeks">
          <h4>ID: {{filmek.id}} <br>
              Cím: {{filmek.cim}}<br>
              Megjelenés éve: {{filmek.megjelenes}} <br>
              Értékelés: {{filmek.ertekeles}}</h4>
        </li>
      </ul>
      
      </div>