
<div id="cv" class="filmcont">
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Film címe</th>
                <th>Megjelenés</th>
                <th>Értékelés</th>
                <th>Lehetőségek</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{filmek.id}}</td>
                    <td>{{filmek.cim}}</td>
                    <td>{{filmek.megjelenes}}</td>
                    <td>{{filmek.ertekeles}}</td>
                    <td><button class="btn btn-danger" (click)="deleteFilmek(filmek)">Törlés</button>
                        <button class="btn btn-primary" (click)="updateFilmek(filmek)">Módosítás</button></td>
      
                </tr>
            </tbody>
        </table>
</div>
    
      