
<div *ngFor="let filmek of filmeks | async">
        <filmek-details [filmek]='filmek'></filmek-details>
      </div>
      <!--
      <div>
        <button type="button" class="button btn-danger" (click)='deleteFilmeks()'>Delete All</button>
      </div>
      -->