<div class="filmcont">
    <table class="table">
      <thead>
          <th>ID</th>
          <th>Sztár neve</th>
          <th>Születési dátum</th>
          <th>Oscar díjas-e</th>
      </thead>
      <tbody>
          <tr>
              <td>{{sztarok.id}}</td>
              <td>{{sztarok.nev}}</td>
              <td>{{sztarok.szulev}}</td>
              <td>{{sztarok.oscardijas}}</td>
              <td><button class="btn btn-danger" (click)="deleteSztarok(sztarok)">Törlés</button>
                  <button class="btn btn-primary" (click)="updateSztarok(sztarok)">Módosítás</button></td>

          </tr>
      </tbody>
  </table>
</div>

