

<head>
<title>Önéletrajz</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

</head>

<body id="top" ng-controller="MainCtrl">
              
<div id="cv"   *ngFor="let cv of cvs$" >
	<div class="mainDetails" >
		<div id="name">
			<h1 >{{cv.nev}}</h1>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" >
        
		<section>
			<div class="sectionTitle">
				<h1>Személyes adatok</h1>
			</div>
                        
			<div class="sectionContent">
				<p>Születési dátum: {{cv.szul}}</p>
				<p>Lakcím: {{cv.lakcim}}</p>
				<p>e-mail: {{cv.email}}</p>
				<p>Mobil: {{cv.telefon}}</p>

			</div>
			
			<div class="clear"></div>
                </section>
                
		
		<section>
			<div class="sectionTitle">
				<h1>Tanulmányok</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Gimnázium</h2>
					
					<p>{{cv.tanulmany}}</p>
				</article>
				
				<article>
					<h2>Egyetem</h2>
					
                                        <p>{{cv.tanulmany2}}</p>				
                                </article>
			</div>
			<div class="clear"></div>
                </section>

                <section>
                                <div class="sectionTitle">
                                        <h1>Nyelvek</h1>
                                </div>
                                
                                <div class="sectionContent">
                                                <p> {{cv.nyelv}}</p>
                                                <p>{{cv.nyelv2}}  </p>
                                </div>
                                <div class="clear"></div>
                        </section>
                
                
		<section>
			<div class="sectionTitle">
				<h1>Programozási nyelvek</h1>
			</div>
			<div class="sectionContent">
				<article>
					{{cv.prognyelv}} 
                                </article>
			</div>
			<div class="clear"></div>
                </section>
                
                <section>
			<div class="sectionTitle">
				<h1>Érdeklődes</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					{{cv.erdeklodes}}
                                </article>
			</div>
			<div class="clear"></div>
                </section>

                <section>
                                <div class="sectionTitle">
                                        <h1>Hobbi</h1>
                                </div>
                                
                                <div class="sectionContent">
                                        <article>
                                               {{cv.hobbi}}
                                        </article>
                                </div>
                                <div class="clear"></div>
                        </section>              
                
		
		 
	</div>
</div>
  
        <input type="button" class="btn btn-danger" value="Letöltés PDF-ben" (click)="captureScreen()"/> 

</body>

