<body>
<div class="cont2">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="cim">ID</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="filmek.id" name="id">
    </div>

    <div class="form-group">
      <label for="cim">Cím</label>
      <input type="text" class="form-control" id="cim" required [(ngModel)]="filmek.cim" name="cim">
    </div>

    <div class="form-group">
      <label for="name">Megjelenés</label>
      <input type="number" class="form-control" id="megjelenes" required [(ngModel)]="filmek.megjelenes" name="megjelenes">
    </div>

    <div class="form-group">
      <label for="name">Értékelés</label>
      <input type="number" class="form-control" id="ertekeles" required [(ngModel)]="filmek.ertekeles" name="ertekeles">
    </div>
      <div class="gomb">
    <button type="submit" class="btn btn-danger">Hozzáadás</button>
      </div>

     
      <div [hidden]="!submitted">
        <h4>Sikeresen hozzáadva!</h4>
        
      </div>
     
  </form>
</div>
</body>



