html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('bg.jpg');
    background-attachment: fixed;
    background-position: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
  }
  

a {
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
 }

a:hover
{
    color: #fff;
    box-shadow: -15px 0 50px rgba(022,20,152,1), 15px 0 50px rgba(122,0,255,1);
    text-shadow: 0 0 10px rgba(255,255,255,0.50), 0 0 25px rgba(255,255,255,0.50), 0 0 35px rgba(255,255,255,0.50),;
}


a:hover:before
{

    background: rgba(022,20,152,1);
    filter: blur(4px);
    transition: 2s;
    z-index: -1;

}

a:after
{
    content: '';
    position: absolute;
    height: 40px;
    border-radius: 30%;
    background: rgba(122,0,255,0);
    filter: blur(4px);
    transition: 5s;
    z-index: -1;
    mix-blend-mode: lighten;
}

a:hover:after
{

    background: rgba(022,20,152,1);
    transform: scaleX(5);

}
  
  header {
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    background: black;
  }
  
  header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
    position: relative;
  }



  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
   
  }

  
  @media (max-width: 860px) {
    header {
      padding: 0 20px;
    }
    .menu-toggle {
      display: block;
    }
    header nav {

      position: absolute;
      top: 50px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      background: #333;
      transition: 0.5s;
    }
    header nav.active {
      left: 0;
    }
    header nav ul {
      display: block;
      text-align: center;
    }
    header nav ul li a {
      border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }
    header nav ul li.active ul {
      position: relative;
      background: #003e6f;
    }
    header nav ul li ul li {
      width: 100%;
    }
  }
  
  table th, td {
    
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    table-layout: fixed;
    color: white;
    width: 15%;
    
  }
  
  table{
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid black;
  
    
  }

  table td {
    border: 1px solid black; 
    
  }
  
  

 .filmcont{
        position: relative;
        width: 60%;
        margin: auto;
        top: 100px;

    }

 .cont2{
        position: relative;
        width: 60%;
        margin: auto;
        top: 150px;
        font-size: 18px;
        width: 350px;
        color: white;
        background: #780206;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: 0.9;
        
        
    }
    
