<div class="cont2">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Film ID</label>
      <input type="number" class="form-control" id="id" required [(ngModel)]="filmek.id" name="id">
    </div>

    <div class="form-group">
      <label for="cim">Cím</label>
      <input type="text" class="form-control" id="cim" required [(ngModel)]="filmek.cim" name="cim">
    </div>

    <div class="form-group">
      <label for="name">Megjelenés</label>
      <input type="number" class="form-control" id="megjelenes" required [(ngModel)]="filmek.megjelenes" name="megjelenes">
    </div>

    <div class="form-group">
      <label for="name">Értékelés</label>
      <input type="number" class="form-control" id="ertekeles" required [(ngModel)]="filmek.ertekeles" name="ertekeles">
    </div>
      <div class="gomb">
    <button class="btn btn-danger" (click)="newFilmek()">Hozzáadás</button>
      </div>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newFilmek()">Add</button>
</div>