<div class="cont2">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Sztár ID</label>
      <input type="number" class="form-control" id="id" required [(ngModel)]="sztarok.id" name="id">
    </div>

    <div class="form-group">
      <label for="cim">Név</label>
      <input type="text" class="form-control" id="cim" required [(ngModel)]="sztarok.cim" name="cim">
    </div>

    <div class="form-group">
      <label for="name">Születési év</label>
      <input type="number" class="form-control" id="szulev" required [(ngModel)]="sztarok.szulev" name="szulev">
    </div>

    <div class="form-group">
      <label for="name">Oscar díjas-e</label>
      <input type="boolean" class="form-control" id="oscardijas" required [(ngModel)]="sztarok.oscardijas" name="oscardijas">
    </div>

    <div class="form-group">
      <label for="name">Fid</label>
      <input type="number" class="form-control" id="fid" required [(ngModel)]="sztarok.fid" name="fid">
    </div>

      <div class="gomb">
    <button type="submit" class="btn btn-danger">Hozzáadás</button>
      </div>
  </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newFilmek()">Add</button>
  </div>

